.text-input-container {
    width: 20rem;
    padding: 10px;
    background-color: rgb(231, 224, 224);
    border: 1px solid grey;
    padding: 25px;
    width: 60%;

}

.text-input {
    font-size: 16px;
    padding: 5px;
    height: auto;
    width: 96%;
    border-radius: 3px;
    margin: 5px;
    border-width: 2px;
}

#success {
    border-color: rgb(19, 197, 19);
}

#warn {
    border-color: rgb(197, 128, 0);
}

#error {
    border-color: red;
}

@media screen and (max-width:652px) {
    .text-input-container {
        width: 80%;
    }
}