<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/doc.css">
    <link rel="stylesheet" href="/components/input-textUt/text-ut.css">
    <script src="https://kit.fontawesome.com/9c98d67da5.js" crossorigin="anonymous"></script>
    <title>Avatar</title>
</head>

<body>

    <nav>
        <logo class="logo">BuildUI</logo>
        <ul class="nav-links">
            <li><a href="#">HOME</a></li>
            <li><a href="#">DOCUMENTATION</a></li>
        </ul>
    </nav>

    <input type="checkbox" id="check">
    <label for="check"><i class="fas fa-bars" id="btn"></i><i class="fas fa-times" id="cancel"></i></label>

    <div class="side-drawer">
        <ul>
            <header>Components</header>
            <li><a href="/components/alert-button/alert.html">Alert</a></li>
            <li><a href="/components/avatar/avatar.html">Avatar</a></li>
            <li><a href="/components/badge/badge.html">Badge</a></li>
            <li><a href="/components/alert-button/button.html">Button</a></li>
            <li><a href="/components/card/card.html">Card</a></li>
            <li><a href="/components/image/image.html">Image</a></li>
            <li><a href="/components/input-textUt/input.html">Input</a></li>
            <li><a href="#">Text Utilities</a></li>
            <li><a href="/components/list/list.html">Lists</a></li>
            <li><a href="/components/nav-modal/nav.html">Navigation-Desktop</a></li>
            <li><a href="/components/nav-modal/modal.html">Modal</a></li>
            <li><a href="/components/rating-toast/rating.html">Rating</a></li>
            <li><a href="/components/rating-toast/toast.html">Toast/Snackbar</a></li>
            <li><a href="/components/grid/grid.html">Simplified Grid</a></li>
        </ul>
    </div>

    <div class="Component-container">

        <!---------Text-utilities componenet-------->
        <div class="text pb2 " id="text-ut">
            <h2 class="pb1 h2 comp-title">Text utilities</h2><br>
            <p class="pb2">Text of variant styles and sizes can be used according to their respective class names.</p>
            <h3>Example</h3>
        </div>

        <h2 class="grey mb2">Headings</h2>
        <div class="typography-container">
            <h1 class="h1">Heading 1</h1>
            <h2 class="h2">Heading 2</h2>
            <h3 class="h3">Heading 3</h3>
            <h4 class="h4">Heading 4</h4>
            <h5 class="h5">Heading 5</h5>
        </div>

        <div>
            <iframe id="frame"
                src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=vscode&wt=none&l=auto&width=680&ds=true&dsyoff=61px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2520%253Ch1%2520class%253D%2522h1%2522%253EHeading%25201%253C%252Fh1%253E%250A%2520%253Ch2%2520class%253D%2522h2%2522%253EHeading%25202%253C%252Fh2%253E%250A%2520%253Ch3%2520class%253D%2522h3%2522%253EHeading%25203%253C%252Fh3%253E%250A%2520%253Ch4%2520class%253D%2522h4%2522%253EHeading%25204%253C%252Fh4%253E%250A%2520%253Ch5%2520class%253D%2522h5%2522%253EHeading%25205%253C%252Fh5%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520"
                style=" height: 200px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
        </div>


        <h2 class="grey mb2">Small text, gray text and center text</h2>

        <div class="typography-container">
            <p>This is a paragraph</p>
            <p class="grey-text">This is a grey text</p>
            <p class="small-text">This is small text</p>
            <p class="center-text">This is centered text</p>
        </div>

        <div>
            <iframe id="frame"
                src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=vscode&wt=none&l=auto&width=680&ds=true&dsyoff=61px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2520%253Cdiv%2520class%253D%2522typography-container%2522%253E%250A%2520%2520%2520%2520%253Cp%253EThis%2520is%2520a%2520paragraph%253C%252Fp%253E%250A%2520%2520%2520%2520%253Cp%2520class%253D%2522grey-text%2522%253EThis%2520is%2520a%2520grey%2520text%253C%252Fp%253E%250A%2520%2520%2520%2520%253Csmall%253EThis%2520is%2520small%2520text%253C%252Fsmall%253E%250A%2520%2520%2520%2520%253Ccenter%253EThis%2520is%2520centered%2520text%253C%252Fcenter%253E%250A%2520%2520%253C%252Fdiv%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520"
                style=" height: 200px;  border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
        </div>

    </div>

    <footer>
        <p>Made By Juvita Saini </p>
    </footer>
</body>

</html>