:root{
    --yellow:rgb(250, 229, 38);
    --grey-light:#b8b8b0;
    --grey-light2:rgb(204, 195, 195);
    --orange:rgb(255,94,0);
}

.rating-container{
    padding:1rem;
    border:1px solid var(--grey-light2);
    width:fit-content;
}

.star{
    display:inline-block;
    color: var(--grey-light);
    font-size:1.87rem;
}

.hover{
    color:var(--yellow);
}

.final{
 color:var(--orange);
}

.star-rating{
 margin:1.87rem 0;
 font-weight:bold;
 text-align: center;
}